/********************************************************************

	ZACK GINIES - 1030.scss
	-----------------------------
	author: zack ginies - zack@zackginies.com
	date: oct 21, 2013 
	
	Desktop.
	Using Bones as a loose guide.
		
	INDEX
	-----------------------------------------
	- General Styles
	- Links
	- Headings
	- Header
		- Navigation
	- Footer


*******************************************************************/

/* GENERAL STYLES -------------------------------------------------------*/

body {
	background: blue;
}