/********************************************************************

	ZACK GINIES - 1030.scss
	-----------------------------
	author: zack ginies - zack@zackginies.com
	date: oct 21, 2013 
	
	Desktop.
	Using Bones as a loose guide.
		
	INDEX
	-----------------------------------------
	- General Styles
	- Links
	- Headings
	- Header
		- Navigation
	- Footer


*******************************************************************/

/* GENERAL STYLES -------------------------------------------------------*/

body {
	background: blue;
}

/* LIKES ----------------------------------------------------------------*/

#likes {
	.like {
		video {
			display: block;
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			height: auto;
		}
		
		#video_1 {
			display: none;
		}
	}
}

/* WORK ----------------------------------------------------------------*/

#work {
	
	.work_item {
		
		.visual {
			float: left;
			width: 525px;
			height: 450px;
			margin: 0 50px 0 0;
		}
		
		.writeup {
			display: block;
			margin: 0 0 0 575px;
						
			p, ul {
				font-size: 11px;
				font-family: $sans-serif;
			}
			
			ul {
				margin: 0;
				padding: 0 0 0 10px;
			}
		}
		
	}

}