/********************************************************************

	ZACK GINIES - 481.scss
	-----------------------------
	author: zack ginies - zack@zackginies.com
	date: oct 21, 2013 
	
	Larger mobile devices.
	Using Bones as a loose guide.
		
	INDEX
	-----------------------------------------
	- General Styles
	- Links
	- Headings
	- Header
		- Navigation
	- Footer


*******************************************************************/

/* GENERAL STYLES -------------------------------------------------------*/
