/********************************************************************

	ZACK GINIES - 768up.scss
	-----------------------------
	author: zack ginies - zack@zackginies.com
	date: oct 21, 2013 
	
	Tablet and smaller laptop styles.
	Using Bones as a loose guide.
		
	INDEX
	-----------------------------------------
	- General Styles
	- Header
		- Navigation
	- Likes
	- Footer


*******************************************************************/

/* GENERAL STYLES -------------------------------------------------------*/

body {
	background: green;
}

#main_content {
	display: block;
}

h2 {
	margin: 0;
	text-align: center;
	line-height: 2.5em;
	
	span {
		display: block;
		font-size: 3em;
		text-transform: capitalize;
	}
}

/* HEADER ----------------------------------------------------------------*/

header {
	position: relative;
	background: $white;
	height: auto;
	padding: 10px 30px;
	z-index: 10;
	overflow: hidden;
	
	h1 {
		display: block;
		float: left;
		font-size: .9em;
	}
	
	.contact {
		display: none;
	}
	
}

/* Navigation */

nav {
	display: block;
	float: right;
	font-size: .9em;
	
	ul {
		margin: 7px 0 0 0;
	}
	
	li {
		float: left;
		margin: 0 0 0 40px;
		list-style: none;
	}
}

/* LIKES ----------------------------------------------------------------*/

#likes {
	background: $white;
	position: relative;
	min-height: 650px;
	overflow: hidden;
	
	.wrapper {
		position: relative;
		height: 100%;
		min-height: 650px;
	}
	
	.btn_prev.active, .btn_next.active {
		opacity: 1;
		cursor: pointer;
	}
	
	.btn_prev, .btn_next {
		opacity: .2;
		cursor: default;
	}
	
	.like {

		float: left;
		
		h2 {
			position: relative;
			line-height: normal;
			color: $white;
		}
		
		video {
			display: none;
		}
	}
	
}

/* WORK ----------------------------------------------------------------*/

#work {
	position: relative;
	background: $white;
	min-height: 650px;
	overflow: hidden;
	
	.wrapper {
		position: relative;
		height: 100%;
		min-height: 650px;
	}
	
	.btn_prev.active, .btn_next.active {
		opacity: 1;
		cursor: pointer;
	}
	
	.btn_prev, .btn_next {
		opacity: .2;
		cursor: default;
	}
	
	.work_item {
		float: left;
		padding: 0 150px;
		
		h3 {
			text-align: left;
			letter-spacing: .1em;
			line-height: 2.5em;
			color: $black;
			
			span {
				display: block;
				font-size: 3em;
			}
		}
		
		.visual {
			width: 100%;
			text-align: center;
		}
		
		.writeup {
			display: none;
		}
		
	}

}

/* FOOTER ----------------------------------------------------------------*/

