/********************************************************************

	ZACK GINIES - 768up.scss
	-----------------------------
	author: zack ginies - zack@zackginies.com
	date: oct 21, 2013 
	
	Tablet and smaller laptop styles.
	Using Bones as a loose guide.
		
	INDEX
	-----------------------------------------
	- General Styles
	- Header
		- Navigation
	- Likes
	- Footer


*******************************************************************/

/* GENERAL STYLES -------------------------------------------------------*/

body {
	background: green;
}

#main_content {
	display: block;
}

/* HEADER ----------------------------------------------------------------*/

header {
	background: $white;
	height: auto;
	padding: 10px 30px;
	overflow: hidden;
	
	h1 {
		display: block;
		float: left;
		font-size: .9em;
	}
	
	.contact {
		display: none;
	}
	
}

/* Navigation */

nav {
	display: block;
	float: right;
	font-size: .9em;
	
	ul {
		margin: 7px 0 0 0;
	}
	
	li {
		float: left;
		margin: 0 0 0 40px;
		list-style: none;
	}
}

/* LIKES ----------------------------------------------------------------*/

#likes_wrapper {
	background: tan;
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
	
	.like {
		height: 100%;
		width: 100%;
		float: left;
		padding: 40px;
	}
	
	h2 {
		margin: 0;
		text-align: center;
		line-height: 2.5em;
		
		span {
			display: block;
			font-size: 3em;
			text-transform: capitalize;
		}
	}
}

#paid {
	background: red;
}

/* FOOTER ----------------------------------------------------------------*/

