/********************************************************************

	ZACK GINIES - mixins.scss
	-----------------------------
	author: zack ginies - zack@zackginies.com
	date: oct 21, 2013 
	
	Mixins and constants.
	Using Bones as a loose guide.
		
	INDEX
	-----------------------------------------
	- Tools
	- Colors
	- Typography


*******************************************************************/


/* TOOLS ---------------------------------------------------------*/

// http://paulirish.com/2012/box-sizing-border-box-ftw/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}



/* COLORS ---------------------------------------------------------*/

$black:             #000;
$white:             #fff;


$link-color:        #ff007e;
$link-hover:        darken($link-color, 9%);



/* TYPOGRAPHY ---------------------------------------------------------*/

$sans-serif:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;


@font-face {
	font-family: 'Didot Italic';
	src: url('../fonts/didotltstd-italic-webfont.eot');
	src: url('../fonts/didotltstd-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/didotltstd-italic-webfont.woff') format('woff'),
         url('../fonts/didotltstd-italic-webfont.ttf') format('truetype'),
         url('../fonts/didotltstd-italic-webfont.svg#font-name') format('svg');
	font-weight: normal;
	font-style: normal;
}


// text alignment
.text-left   { text-align: left; }
.text-center { text-align: center; }
.text-right  { text-align: right; }


/* BOX SIZING ---------------------------------------------------------*/

/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
@mixin box-sizing($type: border-box) {
	-webkit-box-sizing: $type;
	-moz-box-sizing:    $type;
	-ms-box-sizing:     $type;
	box-sizing:         $type;
}

/* BUTTONS ---------------------------------------------------------*/

.btn_prev {
	background: url(../images/icons/arrow_left_white.png) 0 0 no-repeat;
	position: absolute;
	left: 40px;
	top: 50%;
	z-index: 10;
	display: block;
	height: 28px;
	width: 28px;
	margin: -14px 0 0 0;
	text-indent: -99999px;
}

.btn_next {
	background: url(../images/icons/arrow_right_white.png) 0 0 no-repeat;
	position: absolute;
	right: 40px;
	top: 50%;
	z-index: 10;
	display: block;
	height: 28px;
	width: 28px;
	margin: -14px 0 0 0;
	text-indent: -99999px;
}

.btn_prev.black {
	background: url(../images/icons/arrow_left_black.png) 0 0 no-repeat;
}

.btn_next.black {
	background: url(../images/icons/arrow_right_black.png) 0 0 no-repeat;
}

/* BORDERS ---------------------------------------------------------*/

.border_bottom {
	position: absolute;
	left: 0;
	bottom: 0;
	background: url(../images/backgrounds/border_bottom_white.png) center 0 repeat-x;
	display: block;
	width: 100%;
	height: 23px;
}

